<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag('depot',:media => :all) %>
  
<!--  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>    -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
	<%= image_tag("logo.png") %>
	<%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
		<div id="side">
			<%= link_to("Home", {:controller => 'store'}, :class => 'action index') %><br />
			<%= link_to("Fac", {:controller => 'store'}, :class => 'action fac') %><br />
			<%= link_to("News", {:controller => 'store'}, :class => 'action news') %><br />
			<%= link_to("Contacts", {:controller => 'store'}, :class => 'action contacts') %><br /> 
			
			<p><%= l Time.now, :format => :long %></p>
			
    	</div>
    	<div id="main">
			<%= yield %>
    	</div>
  </div>
</body>
</html>